name: ci

on: pull_request

jobs:
  build:
    name: Build
    strategy:
      matrix:
        node-version: [22]
    runs-on: ubuntu-latest

    steps:
      - name: Check out the code
        uses: actions/checkout@v5.0.1

      - name: Set up Node
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
        id: node

      - name: Get dependencies
        run: |
          npm ci

      - name: Lint
        run: |
          npm run lint

      - name: Build
        run: |
          npm run build
